* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(130deg, rgba(172, 172, 172, 0.9) 25%, rgba(172, 172, 172, 0.3)),
        url(./img/bgm.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Titillium Web', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}

.nav-bar {
    position: absolute;
    font-size: 1.2em;
    margin: 30px 0;
    display: flex;
    justify-content: center;
    background: rgba(220, 220, 220, 0.5);
    padding: 5px 50px;
    transform: skew(30deg, 0deg);
    top: 5%;
    right: 5%
}
.nav-bar a {
    font-size: 1.5em;
    margin-right: 1rem;
    text-decoration: none;
    content: '';
    color: #555555;
    transform: skew(-30deg, 0deg);
}
a:hover {
    color: #000000;
    text-shadow: 0px 0px 0.1px #222;
}
.nav-bar a .active1 {
    color: #000000;
}

.section-one {
    display: flex;
    margin: 15% 5% 0 5%;
}
.nh-colr {
    width: 50%;
    margin-right: 5%;
    color: #fff;
    height: 250px;
    margin: 2rem;

}
.nh-coll {
    width: 50%;
    margin-left: 5%;
    color: #fff;
    height:250px;
    margin: 2rem;
}
h3 {
    font-size: 18px;
    padding: 2.5rem;
}
#Pitch{
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    transition: all 0.5s ease-in-out;
    background-image: linear-gradient(130deg, rgba(132, 132, 132, 0.9) 25%, rgba(172, 172, 172, 0.1)),
    url(https://images.unsplash.com/photo-1535016120720-40c646be5580?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
}
#Pitch:hover {
    transform: scale(1.02);
    background: rgba(0, 0, 0, 0.5);
}
#Play{
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    transition: all 0.5s ease-in-out;
    background-image: linear-gradient(130deg, rgba(132, 132, 132, 0.9) 25%, rgba(172, 172, 172, 0.1)),
    url(https://images.unsplash.com/photo-1499551660540-eaf0697882f5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80);
}
#Play:hover {
    transform: scale(1.02);
    background: rgba(0, 0, 0, 0.5);
}
.section-two {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7rem;
}
.play-start {
    padding: 2.5rem;
    background: #555555;
    color: #777777;
    border-radius: 0.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
#start {
    top: 70%;
    right: 45%;
}